@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>MVC5 by Ali Azavi</h1>
  <p>Tutorial Mvc5 and EF6 from <a href="http://www.advancesharp.com/">AdvanceSharp</a></p>

</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12 ">
    <h2>This application consists tutorial of:</h2>
    <ul>
      <li><a href="http://www.advancesharp.com/blog/1133/learn-mvc-step-1-application-structure">Learn MVC Step 1 - Application Structure</a></li>
      <li><a href="http://www.advancesharp.com/blog/1134/learn-mvc-step-2-model-view-controller">Learn MVC Step 2 - Model View Controller</a></li>
      <li><a href="http://www.advancesharp.com/blog/1135/mvc-entity-framework-code-first-step-3">MVC Entity Framework Code First - Step 3</a></li>
      <li><a href="http://www.advancesharp.com/blog/1140/mvc-crud-by-wizard-without-writing-a-single-line-in-2-minute-step-4">MVC CRUD By wizard without writing a single line in 2 minute - Step 4</a></li>
      <li><a href="http://www.advancesharp.com/blog/1141/mvc-multiple-field-search-with-webgrid-step-5">MVC multiple field search with webgrid - Step 5</a></li>
      <li><a href="http://www.advancesharp.com/blog/1142/asp-net-mvc-upload-file-with-record-validation-step-6">ASP.Net MVC upload file with record & validation - Step 6</a></li>
      <li><a href="http://www.advancesharp.com/blog/1188/mvc-display-image-from-database">MVC display image from database</a></li>
    </ul>
  </div>
</div>